*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 400px;
    height: 60px;
    border: solid 1px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
button{
    width: 35%;
    height: 100%;
    font-size: 25px;
}
.box>:nth-child(2){
    width: 30%;
    height: 100%;
    background: rgb(165, 205, 221);
    text-align: center;
    line-height: 60px;
}