*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 2000px;
    position: absolute;
}
.head{
    width: 100%;
    height: 168px;
}
.head-1{
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #004b87;
}
.head-center{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
    color: #fff;
}
.head-center ul{
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 40px;
}
.jl1{
    background: url(images/top.png);
    background-position: 0 0;
}
.jl2{
    background: url(images/top.png);
    background-position: 0 -40px;
}
.jl3{
    background: url(images/top.png);
    background-position: 0 -80px;
}
.jl4{
    background: url(images/top.png);
    background-position: 0 -120px;
}
.jl1,.jl2,.jl3,.jl4{
    width: 24px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 11px 0;
    margin-left: 15px;
    margin-right: 10px; 
}
.head-2{
    width: 100%;
    height: 128px;
    position: relative;
    background-color: #0061ae;
}
.head-2-center{
    width: 1160px;
    height: 100%;
    border: none;
    margin: 0 auto;
    background: url(images/logo3.png) no-repeat;
    background-position: center left;
}
.head-2-center ul{
    float: right;
    list-style: none;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    line-height: 25px;
    font-family: "微软雅黑";
}
nav{
    width: 100%;
    height: 425px;
    border: none;
    position: absolute;
}
.main-top{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
}
.main-top ul{
    list-style: none;
    width: 100%;
    display: flex;
    text-align: center;
}
.lis{
    width: 100%;
    float: left;
    /* height: 100%; */
    /* border: none; */
    font-size: 18px;
    line-height: 46px;
} 
.lis ul{
    width: 1170px;
    height: 0;
    overflow: hidden;
    display: flex;
    display: inline;
    column-count: 3;
    font-size: 15px;
    position: absolute;
    top: 46px;
    left: -50%;
    right: -50%;
}
.lis ul li::after{
    content: '';
    width: 6px;
    height: 6px;
    background-color: royalblue;
    display: inline-block;
    display: flex;
    position: relative;
    top: -50%;
    bottom: -50%;
    right: 15px;
}
.lis ul li{
    width: 300px;
    height: 50px;
    border: none;
    text-align: left;
    float: left;
    margin-left: 18px;
    display: inline;
}
.lis:hover ul{
    width: 1170px;
    height: 90%;
    border: none;
    margin: 0 auto;
    transition: .7s;
    background-color: #f9f9f9;
    box-shadow: 8px 8px 10px #d1cece;
}
img{
    width: 100%;
    height: 89.5%;
}
main{
    width: 100%;
    height: 546px;
    border: none;
    position: absolute;
    margin-top: 433px;
    margin-bottom: 30px;
}
.main-center{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
}
.main-xxxw{
    width: 100%;
    height: 15%;
    border: none;
    display: flex;
    justify-content: space-between;
    background: url(images/bt.png) no-repeat;
    background-position: 0 20px;
}
.main-xxxw span{
    margin-left: 50px;
    line-height: 82px;
    font-size: 20px;
    font-family: "微软雅黑";
    margin-right: 10px;
}
.main-center-left{
    width: 72.3%;
    height: 85%;
    border: none;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-left-box{
    width: 32%;
    height: 50%;
    border: none;
    margin-bottom: 20px;
    background-size: 50px 50px;
}
.main-left-box img{
    width: 100%;
    height: 75%;
}
.main-left-box .img2{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 196px;
}
.main-left-box span{
    font-size: 16px;
    font-family: "微软雅黑";
    text-align: center;
}
.main-center-rigin{
    width: 25.1%;
    height: 85%;
    border: none;
    float: right;
}
.main-center-rigin-box{
    width: 100%;
    height: 14.3%;
    border-bottom: dotted 2px;
}
.main-center-rigin-box p{
    /* padding-top: 8px; */
    display: inline-block;
}
.shijian{
    width: 50%;
    height: 30%;
    border: none;
    float: right;
    display: inline-block;
    text-align: right;
    padding-right: 8px;
    font-size: 15px;
}
.content{
    width: 100%;
    height: 304px;
    border: none;
    position: absolute;
    top: 1190px;
}
.content-conter{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content-box1{
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}
.content-box1-top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    background: url(images/bt.png) no-repeat;
    background-position: 0 -60px;
}
.content-top2{
    width: 100%;
    height: 20%;
    background-color: #f9f9f9;
    border: none;
}
.content-leftbox{
    float: left;
    width: 20%;
    height: 100%;
    border: none;
}
.content-leftbox p{
    font-size: 27px;
    text-align: center;
}
.content-leftbox span{
    font-size: 16px;
    color: #aaa;
    margin-left: 7px;
}
.content-rightbox{
    float: left;
    width: 80%;
    height: 80%;
    padding-left: 9px;
    margin-top: 5px;
    border-left: solid 1px rgb(187, 187, 226);
}
.content-top3{
    width: 100%;
    height: 20%;
    background-color: #f9f9f9;
    border: none;
}
.content-top4{
    width: 100%;
    height: 20%;
    background-color: #f9f9f9;
    border: none;
}
.content-box1-top span{
    margin-left: 50px;
    font-size: 20px;
}
.content-box2{
    width: 29%;
    height: 100%;
    border: none;
}
.content-box2-top{
    width: 100%;
    height: 20%;
    border: none;
    background: url(images/bt.png) no-repeat;
    background-position: 0 -132px;
}
.content-box2-top p{
    font-size: 20px;
    line-height: 55px;
    margin-left: 50px;
}
.content-box2-top1{
    width: 100%;
    height: 80%;    
    border: none;
}
.content-box2-top1 p{
    font-size: 17px;
    text-align: center;
    color: rgb(179, 172, 172);
}
.content-box3{
    width: 33.5%;
    height: 100%;
    border: solid 1px;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.content-box3-top1{
    width: 100%;
    height: 15%;
    font-size: 17px;
    line-height: 255%;
    text-align: right;
    color: #0061ae;
    padding-right: 10px;
    border: none;
}
.content-box3-top2,.content-box3-top3,.content-box3-top4{
    width: 100%;
    height: 28.4%;
    border: none;
    background-color: #0061ae;
    padding: 8px;
}
.content-box3-top2 p,.content-box3-top3 p,.content-box3-top4 p{
    width: 35%;
    border-bottom: solid 2px #f59c3d;
    float: right;
    text-align: center;
    margin-top: 18px;
    padding-bottom: 3%;
}
footer{
    width: 100%;
    height: 200px;
    border: none;
    position: relative;
    top: 68%;
}
.footer-center{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
}
.footer-center-box1{
    width: 100%;
    height: 25%;
    border: none;
    background: url(images/bt.png) no-repeat left;
    background-position: 0 center ;
}
.footer-center-box1 p{
    font-size: 20px;
    display: inline;
    line-height: 50px;
    margin-left: 50px;
}
.footer-center-box1 span{
    line-height: 50px;
    float: right;
    font-size: 17px;
    color: royalblue;
}
.footer-center-box2{
    width: 100%;
    height: 75%;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-center-box2-box{
    width: 15%;
    height: 40%;
    border: solid 1px rgba(207, 207, 207, 0.667);
    text-align: center;
    margin-top: 2%;
}
.footer-center-box2-box img{
    width: 20%;
    height: 55%;
    margin-top: 12px;
    position: relative;
    margin-left: -30px;
}
.footer-center-box2-box p{
    position: relative;
    display: inline;
    top: -8px;
    left: 8px;
    font-size: 18px;
}
.yqlj{
    width: 100%;
    height: 60px;
    border: none;
    background-color: #0777d0;
    position: relative;
    top: 70%;
}
.yqlj-center{
    width: 1170px;
    height: 100%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.center-box1{
    width: 7%;
    height: 100%;
    border: none;
    font-stretch: 16px;
    color: white;
    font-weight: 600;
    line-height: 60px;
}
.center-box2,.center-box3,.center-box4{
    width: 21%;
    height: 50%;
    color: white;
    border: solid 1px #2d9eff;
    position: relative;
    background-color: #005dad;
    top: 25%;
}
.jt{
    width: 29px;
    height: 28px;
    background: url(images/yq.png) no-repeat;
    float: right;
    display: inline-block;
}
.a{
    list-style: none;
    text-align: center;
    line-height: 30px;
}
.center-box2 .a ul,.center-box3 .a ul,.center-box4 .a ul{
    list-style: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 0;
    background-color: #005dad;
    line-height: 30px;
    overflow: hidden;
    transition: .5s;
    text-align: center;
}
.center-box2 .a:hover ul{
    width: 100%;
    height: 178px;
    border: solid 1px #2d9eff;
}
.center-box3 .a:hover ul{
    width: 100%;
    height: 300px;
    border: solid 1px #2d9eff;
}
.center-box4 .a:hover ul{
    width: 100%;
    height: 515px;
    border: solid 1px #2d9eff;
}
.copyright{
    width: 100%;
    height: 340px;
    background-color: #005dad;
    position: relative;
    top: 70%;
}
.copyright-center{
    width: 1170px;
    height: 200px;
    border: none;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 30px;
}
.copyright-center p{
    font-size: 17px;
    color: white;
    text-align: center;
}
.copyright-center p img{
    width: 25px;
    height: 23px;
    position: relative;
    left: 0;
    top: 6px;
}
.copyright-center img{
    width: 95px;
    height: 95px;
    position: relative;
    left: 50%;
    right: 50%;
}